{% extends 'shared/defaults_layout/_layout.html' %}
{% load poll_extras %}

{% block title %}
    لرنجو | ویرایش مشخصات
{% endblock %}

{% block content %}
    <main id="main" class="main">

        <div class="pagetitle">
            <h1 class="mb-3">ویرایش مشخصات</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'home_page' %}">خانه</a></li>
                    <li class="breadcrumb-item">کاربر</li>
                    <li class="breadcrumb-item active">ویرایش مشخصات</li>
                </ol>
            </nav>
        </div><!-- End Page Title -->

        <section class="section profile">
            <div class="row">
                <div class="col-xl-4">

                    <div class="card">
                        <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">

                            <img src="{{ user.user.image.url }}" alt="Profile" class="rounded-circle">
                            <h2 class="mb-3">{{ user_base.get_full_name }}</h2>
                            <h3>{{ user | get_user_role }}</h3>
                        </div>
                    </div>

                </div>

                <div class="col-xl-8">

                    <div class="card">
                        <div class="card-body pt-3">
                            <!-- Bordered Tabs -->
                            <ul class="nav nav-tabs nav-tabs-bordered">

                                <li class="nav-item">
                                    <a href="{% url 'user_profile' %}" class="nav-link" data-bs-target="#profile-overview">مشخصات</a>
                                </li>

                                <li class="nav-item">
                                    <a href="{% url 'edit_profile' %}" class="nav-link active" data-bs-target="#profile-edit">ویرایش مشخصات</a>
                                </li>

                                <li class="nav-item">
                                    <a href="{% url 'change_password' %}" class="nav-link" data-bs-target="#profile-change-password">تغییر کلمه عبور</a>
                                </li>

                            </ul>
                            <div class="tab-content pt-2">

                                <div class="tab-pane fade show active profile-overview" id="profile-overview">

                                    {% if messages %}
                                        <div class="pt-3">
                                            <div class="alert alert-success alert-dismissible fade show mb-0" role="alert">
                                                {% for message in messages %}
                                                    {{ message }}
                                                {% endfor %}
                                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                            </div>
                                        </div>
                                    {% endif %}

                                    <h5 class="card-title">ویرایش مشخصات</h5>

                                    <form action="{% url 'edit_profile' %}" method="post">
                                        {% csrf_token %}
                                        <div class="row">
                                            <div class="col-lg-2 col-md-4 label">شماره تلفن:</div>
                                            <div class="col-lg-10 col-md-8">{{ form.phone_number }}</div>
                                        </div>

                                        <div class="row">
                                            <div class="col-lg-2 col-md-4 label">ایمیل:</div>
                                            <div class="col-lg-10 col-md-8">{{ form.email }}</div>
                                        </div>

                                        <div class="row">
                                            <div class="col-lg-2 col-md-4 label"></div>
                                            <div class="col-lg-10 col-md-8">
                                                <button type="submit" class="btn btn-primary"><i class="bi bi-pencil-fill"></i> ویرایش</button>
                                            </div>
                                        </div>
                                    </form>

                                </div>

                            </div><!-- End Bordered Tabs -->

                        </div>
                    </div>

                </div>
            </div>
        </section>

    </main><!-- End #main -->
{% endblock %}